<div class="gallery">
  <app-page-header [disableStyles]="true">
    <div class="gallery__header">
      <app-button
        class="gallery__header-back"
        [link]="'/event/' + eventId"
        [type]="ButtonType.Text">
        Grįžti į renginio informaciją
      </app-button>
      <h2 class="text-headline-large no-margin">{{ galleryDetails?.name }}</h2>
      <div class="gallery__header-controls">
        <app-upload-photo-form
          *ngIf="permissionViews?.photographer"
          [eventId]="eventId!"
          [galleryId]="galleryId!"
          (photoUploadStarted)="handlePhotoUpload()"
        />
        <app-button
          *ngIf="permissionViews?.eventAdmin"
          [type]="ButtonType.Text"
          (click)="openGalleryEditForm()">
          Redaguoti
        </app-button>
        <app-button
          *ngIf="permissionViews?.eventAdmin"
          [type]="ButtonType.Text"
          [disabled]="imageData.length !== 0 || galleryDetails?.isMainGallery"
          (click)="deleteGallery()">
          Ištrinti galeriją
        </app-button>
      </div>
    </div>
  </app-page-header>
  <div class="gallery__toolbar">
    <p class="gallery__selected-count text-body-large no-margin">{{ selectedImageIds.size }} nuotrauka</p>
    <app-button [type]="ButtonType.Filled" (click)="markAll()">Žymėti visas</app-button>
    <div class="gallery__toolbar-icons">
      <app-icon-button
        [icon]="SvgIconSrc.RemoveSelection"
        [disabled]="selectedImageIds.size === 0"
        (click)="unmarkAll()"
        tooltip="Panaikinti žymėjimą"
      />
      <app-icon-button
        *ngIf="permissionViews?.photographer"
        [icon]="SvgIconSrc.FileMove"
        [disabled]="selectedImageIds.size === 0 || !canEditSelectedPhotos"
        (click)="openMovePhotosForm()"
        [tooltip]="noEditTooltip('Perkelti į kitą galeriją', 'Negalite perkelti ne savo nuotraukų')"
        [multilineTooltip]="true"
      />
      <div>
        <app-icon-button
          [icon]="SvgIconSrc.Download"
          [disabled]="selectedImageIds.size === 0"
          (click)="showDownloadOptions = true"
          tooltip="Atsisiųsti"
        />
        <app-popup-menu
          *ngIf="showDownloadOptions"
          [items]="downloadOptions"
          (close)="showDownloadOptions = false"
        />
      </div>
      <app-icon-button
        *ngIf="permissionViews?.photographer"
        [icon]="SvgIconSrc.Delete"
        [disabled]="selectedImageIds.size === 0 || !canEditSelectedPhotos"
        (click)="bulkDelete()"
        [tooltip]="noEditTooltip('Ištrinti', 'Negalite ištrinti ne savo nuotraukų')"
        [multilineTooltip]="true"
      />
    </div>
  </div>
  <div class="gallery__grid">
    <div
      *ngFor="let image of imageData; index as i"
      class="gallery__item"
      [ngClass]="{ 'gallery__item--selected': selectedImageIds.has(image.id) }"
    >
      <!-- eslint-disable-next-line -->
      <div class="gallery__item-selector" (click)="togglePhotoSelect(image)">
        <div class="gallery__item-selector-check" [ngClass]="{ 'gallery__item-selector-check--selected': selectedImageIds.has(image.id) }"></div>
      </div>
      <p class="gallery__item-author no-margin">{{ image.photographerName }}</p>
      <img
        *ngIf="image.isProcessed"
        [src]="sasUri?.baseUri + '/event-' + eventId + '/thumb-' + image.processedFilename + '?' + sasUri?.params"
        class="gallery__image"
        (click)="handlePhotoClick($event, image, i)"
        (keydown)="handlePhotoKeyboard($event, image, i)"
        [alt]="image.processedFilename"
        tabindex="0" />
    </div>
  </div>
  <div #scrollAnchor class="scroll-anchor"></div>
  <div class="gallery__loader" *ngIf="isLoading">
    <app-spinner />
  </div>
</div>
<app-photo-view
  *ngIf="openedPhotoData"
  [externalLoader]="isLoading"
  [openPhotoData]="openedPhotoData"
  (photoAction)="handlePhotoViewAction($event)"
/>
<app-side-view *ngIf="showGalleryEditForm && galleryDetails">
  <app-create-gallery-form
    [eventId]="galleryDetails.eventId"
    [galleryToEdit]="galleryDetails"
    (formEvent)="handleGalleryEditFormEvent($event)"
  />
</app-side-view>
<app-side-view *ngIf="showMovePhotosForm && eventId && galleryId">
  <app-move-photos-form
    [eventId]="eventId"
    [currentGalleryId]="galleryId"
    [selectedPhotoIds]="selectedImageIds"
    (formEvent)="handleMovePhotosFormEvent($event)"
  />
</app-side-view>
