@use "colors";

.event-list {
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__table {
    width: 100%;
  }

  &__table-name {
    width: 100%;
  }
}
