<div class="create-event">
  <div class="side-view-header">
    <h2 class="text-headline-large no-margin">{{ eventToEdit ? 'Redaguoti renginį' : 'Naujas renginys' }}</h2>
    <app-button [type]="buttonType.Text" (click)="cancel()">{{ eventToEdit ? 'Uždaryti' : 'Atšaukti' }}</app-button>
  </div>
  <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
    <app-form-input-section
      inputId="name"
      label="Pavadinimas"
      description="Renginio pavadinimas atvaizduojamas sistemoje">
      <app-input-field id="name" formControlName="name" supportingText="Privaloma" />
    </app-form-input-section>
    <app-form-input-section
      inputId="startDate"
      label="Pradžios data"
      description="Renginio pradžios data ir laikas">
      <app-date-picker
        id="startDate"
        formControlName="startDate"
        supportingText="Privaloma"
        [enableTime]="true"
        [minDate]="minEventStartDate"
      />
    </app-form-input-section>
    <app-form-input-section
      inputId="endDate"
      label="Pabaigos data"
      description="Renginio pabaigos data ir laikas">
      <app-date-picker
        id="endDate"
        formControlName="endDate"
        [enableTime]="true"
        [minDate]="minEventEndDate"
      />
    </app-form-input-section>
    <app-form-input-section
      inputId="location"
      label="Vieta"
      description="Renginio lokacija">
      <app-input-field id="location" formControlName="location" />
    </app-form-input-section>
    <app-form-input-section
      inputId="note"
      label="Papildoma informacija"
      description="Naudinga infromacija fotografams"
      subtext="iki 500 simbolių">
      <app-text-area id="note" formControlName="note" />
    </app-form-input-section>

    <app-form-input-section
      inputId="watermark"
      label="Vandens ženklas"
      description="Vandens ženklas taikomas visoms nuotraukoms, išskyrus galerijas su kitu vandens ženklu"
      [disableBottomPadding]="true"
    >
      <app-watermark-display class="watermark-field__display-component" [watermarkId]="selectedWatermarkId" />
    </app-form-input-section>
    <div class="watermark-controls">
      <app-button
        [type]="buttonType.Text"
        (click)="toggleWatermarkSearch()"
        [disableFormSubmit]="true">
        Pakeisti
      </app-button>
      <app-button
        *ngIf="selectedWatermarkId"
        [type]="buttonType.Text"
        (click)="removeWatermark()"
        [disableFormSubmit]="true">
        Pašalinti
      </app-button>
    </div>

    <app-watermark-search
      *ngIf="showWatermarkSearch"
      actionButtonLabel="Pasirinkti"
      (actionWatermarkId)="onWatermarkSelected($event)"
    />

    <div class="form-controls">
      <app-button>{{ eventToEdit ? 'Išsaugoti' : 'Sukurti' }}</app-button>
    </div>
  </form>
</div>
<app-loader-overlay *ngIf="isLoading" />
