@use "colors";

.camera-settings {
  position: absolute;
  background: colors.$surface;
  width: 100%;
  height: 100vh;
  z-index: 2;

  &__header {
    padding: 0 32px;
    border-bottom: 1px solid colors.$outline;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    max-width: 600px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__selected-event-label {
    color: colors.$on-surface-variant;
  }

  &__event-select-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__event-table-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__event-table {
    width: 100%;
  }
}
