root = true
[*.{cs,js,ts,json,html,css,scss}]
end_of_line = lf
insert_final_newline = true

[*.{scss,css}]
indent_style = space
indent_size = 2

[*.{js,ts,json}]
indent_style = space
indent_size = 2

[*.{html}]
indent_style = space
indent_size = 4

[*.{cs}]
indent_style = space
indent_size = 4
