<div class="side-view-header">
  <h3 class="text-headline-large no-margin">{{ galleryToEdit ? 'Pervadinti galeriją' : 'Sukurti galeriją' }}</h3>
  <app-button [type]="ButtonType.Text" (click)="cancel()">Uždaryti</app-button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input-field id="name" label="Galerijos pavadinimas" formControlName="name" />
  <app-button [disabled]="isLoading">
    {{ galleryToEdit ? 'Atnaujinti' : 'Sukurti' }}
  </app-button>
</form>
<app-loader-overlay *ngIf="isLoading" />
