<div class="side-view-header">
  <h3 class="text-headline-large no-margin">{{ galleryToEdit ? 'Redaguoti galeriją' : 'Sukurti galeriją' }}</h3>
  <app-button [type]="ButtonType.Text" (click)="cancel()">Uždaryti</app-button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-input-section
    inputId="name"
    label="Galerijos pavadinimas"
    description="Unikalus galerijos pavadinimas">
    <app-input-field id="name" formControlName="name" supportingText="Privaloma" />
  </app-form-input-section>

  <app-form-input-section
    inputId="watermark"
    label="Vandens ženklas"
    description="Vandens ženklas pakeis renginyje nustatytą vandens ženklą šios galerijos nuotraukose"
    [disableBottomPadding]="true"
  >
      <app-watermark-display class="watermark-field__display-component" [watermarkId]="selectedWatermarkId" />
  </app-form-input-section>
  <div class="watermark-controls">
    <app-button
      [type]="ButtonType.Text"
      (click)="toggleWatermarkSearch()"
      [disableFormSubmit]="true">
      Pakeisti
    </app-button>
    <app-button
      *ngIf="selectedWatermarkId"
      [type]="ButtonType.Text"
      (click)="removeWatermark()"
      [disableFormSubmit]="true">
      Pašalinti
    </app-button>
  </div>

  <app-watermark-search
    *ngIf="showWatermarkSearch"
    actionButtonLabel="Pasirinkti"
    (actionWatermarkId)="onWatermarkSelected($event)"
  />

  <div class="form-controls">
    <app-button [disabled]="isLoading">
      {{ galleryToEdit ? 'Išsaugoti' : 'Sukurti' }}
    </app-button>
  </div>
</form>

<app-loader-overlay *ngIf="isLoading" />
