<div class="gallery">
  <div class="page-header">
    <div class="gallery__header">
      <app-button [link]="'/event/' + eventId" [type]="ButtonType.Text">Grįžti į renginio informaciją</app-button>
      <h2 class="text-headline-large no-margin">Nuotraukų galerija</h2>
    </div>
  </div>
  <div class="gallery__toolbar">
    <p class="gallery__selected-count text-body-large no-margin">Pažymėta nuotraukų: {{ selectedImageIds.size }}</p>
    <app-button [type]="ButtonType.Filled" (click)="markAll()">Pažymėti visas</app-button>
    <app-button [type]="ButtonType.Text" [disabled]="selectedImageIds.size === 0" (click)="unmarkAll()">Panaikinti žymėjimą</app-button>
    <app-button [type]="ButtonType.Text" [disabled]="selectedImageIds.size === 0">Perkelti į kitą galeriją</app-button>
    <app-button [type]="ButtonType.Text" [disabled]="selectedImageIds.size === 0">Atsisiųsti</app-button>
    <app-button [type]="ButtonType.Text" [disabled]="selectedImageIds.size === 0" (click)="bulkDelete()">Ištrinti</app-button>
  </div>
  <div class="gallery__grid">
    <div class="gallery__item" *ngFor="let image of imageData">
      <div class="gallery__item-selector" (click)="togglePhotoSelect(image)">
        <div class="gallery__item-selector-check" [ngClass]="{ 'gallery__item-selector-check--selected': selectedImageIds.has(image.id) }"></div>
      </div>
      <img
        *ngIf="image.isProcessed"
        [src]="sasUri?.baseUri + '/event-' + eventId + '/thumb-' + image.processedFilename + '?' + sasUri?.params"
        class="gallery__image"
        (click)="handlePhotoClick(image)"
        (keydown)="handlePhotoKeyboard($event, image)"
        [alt]="image.processedFilename"
        tabindex="0" />
    </div>
  </div>
  <div #scrollAnchor class="scroll-anchor"></div>
  <div class="gallery__loader" *ngIf="isLoading">
    <app-spinner />
  </div>
</div>
<app-photo-view *ngIf="openedPhotoData" [openPhotoData]="openedPhotoData" (photoAction)="handlePhotoViewAction($event)" />
