<div class="gallery">
  <div class="page-header">
    <div class="gallery__header">
      <app-button [link]="'/event/' + eventId" [type]="ButtonType.Text">Grįžti į renginio informaciją</app-button>
      <h2 class="text-headline-large no-margin">Nuotraukų galerija</h2>
    </div>
  </div>
  <div class="gallery__grid">
    <div class="gallery__item" *ngFor="let image of imageData">
      <img *ngIf="image.isProcessed" [src]="ThumbnailBaseUrl + '/' + eventId + '/thumb-' + image.processedFilename" class="gallery__image" [alt]="image.processedFilename" />
    </div>
  </div>
  <div #scrollAnchor class="scroll-anchor"></div>
  <p *ngIf="isLoading">Kraunama...</p>
</div>
