@use "common/typography";
@use "colors";

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__notice {
    @include typography.notice;
  }

  &__error {
    margin: 0;
    color: colors.$error;
  }
}
