@use "typography";
@use "colors";

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__notice {
    color: colors.$on-surface-variant;
    margin: 0;
  }

  &__error {
    margin: 0;
    color: colors.$error;
  }
}
