<form class="login-form" [formGroup]="form" (ngSubmit)="login()">
  <h3 class="text-title-large form-heading">Prisijungimas</h3>
  <app-input-field id="email" label="El. paštas" formControlName="email" />
  <app-input-field
    id="password"
    label="Slaptažodis"
    type="password"
    formControlName="password"
  />
  <p class="login-form__error" *ngIf="loginError">{{loginError}}</p>
  <app-button [type]="buttonType" [size]="buttonSize">Prisijungti</app-button>
  <p class="login-form__notice text-body-medium">Neturite paskyros? <a href="mailto:paulius.jasenas@ktu.edu">Susisiekite</a> su sistemos administratoriumi ir paprašykite prieigos.</p>
</form>
