@use "colors";
@use "form-styles";
@use "typography";

.input-field {
  &__label {
    @include typography.label-large;

    margin-bottom: 8px;
    display: block;
    color: colors.$on-surface-variant;
  }

  &__input {
    @include form-styles.input-field;

    width: 100%;
  }
}
