<div class="event-list">
  <div class="page-header">
    <h2 class="text-headline-large no-margin">Renginiai</h2>
    <app-button
      *ngIf="showCreateEvent"
      [icon]="buttonIcon.Add"
      link="/event/create">
      Sukurti renginį
    </app-button>
  </div>
  <div>
    <form class="event-list__controls" [formGroup]="searchForm">
      <app-input-field id="search" label="Paieška" formControlName="search" />
      <app-date-picker
        id="fromDate"
        formControlName="fromDate"
        label="Nuo datos"
        [dateOnly]="true"
      />
      <app-date-picker
        id="toDate"
        formControlName="toDate"
        label="Iki datos"
        [dateOnly]="true"
      />
      <app-checkbox
        id="showArchived"
        formControlName="showArchived"
        label="Rodyti archyvuotus renginius"
      />
    </form>
    <app-pagination-controls [tableData]="eventsTableData" />
  </div>
  <table
    class="event-list__table table"
    *ngIf="!eventsTableData.loading">
    <tr>
      <th class="event-list__table-name table__pad-row-start">Pavadinimas</th>
      <th class="table__no-wrap">Pradžios data ir laikas</th>
      <th>Būsena</th>
      <th class="table__pad-row-end"></th>
    </tr>
    <tr *ngFor="let event of eventsTableData.pageData">
      <td class="event-list__table-name table__pad-row-start">
        {{ event.name }}
      </td>
      <td class="table__no-wrap">
        {{ formatDate(event.startDate) }}
      </td>
      <td>
        <app-event-badge [event]="event" />
      </td>
      <td class="table__pad-row-end">
        <app-button [link]="'/event/' + event.id" [type]="buttonType.Text">
          Peržiūrėti
        </app-button>
      </td>
    </tr>
  </table>
  <div class="event-list__table-loader" *ngIf="eventsTableData.loading">
    <app-spinner />
  </div>
</div>
