<div class="event-list">
  <div class="page-header">
    <h2 class="text-headline-large no-margin">Renginiai</h2>
    <app-button
      *ngIf="showCreateEvent"
      [icon]="buttonIcon.Add"
      link="/event/create">
      Sukurti renginį
    </app-button>
  </div>
  <table class="event-list__table table">
    <tr>
      <th class="event-list__table-name table__pad-row-start">Pavadinimas</th>
      <th class="event-list__table-date">Pradžios data ir laikas</th>
      <th>Būsena</th>
      <th>Nuotraukos</th>
      <th class="table__pad-row-end"></th>
    </tr>
    <tr *ngFor="let event of events">
      <td class="event-list__table-name table__pad-row-start">
        {{ event.name }}
      </td>
      <td class="event-list__table-date">
        {{ formatDate(event.startDate) }}
      </td>
      <td>
        @if (!event.isArchived && isActive(event)) {
          <app-badge [type]="badgeType.Accent">Aktyvus</app-badge>
        } @else if (!event.isArchived && isPast(event)) {
          <app-badge [type]="badgeType.Tertiary">Pasibaigęs</app-badge>
        } @else if (!event.isArchived) {
          <app-badge [type]="badgeType.Primary">Suplanuotas</app-badge>
        } @else if (event.isArchived) {
          <app-badge [type]="badgeType.Secondary">Archyvuotas</app-badge>
        }
      </td>
      <td>0</td>
      <td class="table__pad-row-end">
        <app-button [link]="'/event/' + event.id" [type]="buttonType.Text">
          Peržiūrėti
        </app-button>
      </td>
    </tr>
  </table>
</div>
