<div class="event-list">
  <app-page-header>
    <h2 class="text-headline-large no-margin">Renginiai</h2>
    <app-button
      *ngIf="viewPermissions?.eventAdmin"
      [icon]="buttonIcon.Add"
      (click)="openEventCreateForm()">
      Sukurti renginį
    </app-button>
  </app-page-header>
  <app-button class="event-list__collapsable-filters-button" (click)="toggleFilters()">Filtrai</app-button>
  <div class="event-list__collapsable-filters" [ngClass]="{ 'event-list__collapsable-filters--open': showFilters }">
    <form class="event-list__controls" [formGroup]="searchForm">
      <app-input-field id="search" label="Paieška" formControlName="search" />
      <app-date-picker
        id="fromDate"
        formControlName="fromDate"
        label="Nuo datos"
        [dateOnly]="true"
      />
      <app-date-picker
        id="toDate"
        formControlName="toDate"
        label="Iki datos"
        [dateOnly]="true"
      />
      <app-checkbox
        id="showArchived"
        formControlName="showArchived"
        label="Rodyti archyvuotus renginius"
      />
    </form>
  </div>
  <app-pagination-controls [tableData]="eventsTableData" />
  <app-card-grid class="event-list__card-grid" *ngIf="!eventsTableData.loading">
    <app-card-item
      *ngFor="let event of eventsTableData.pageData"
      [title]="event.name"
      [imageUrl]="getEventThumbnail(event)"
      [hasContent]="true"
      [routerLink]="'/event/' + event.id"
    >
      <div class="event-list__card-content">
        <div>
          <p class="text-label-medium no-margin">Pradžia</p>
          <p class="text-body-large no-margin">{{formatDate(event.startDate)}}</p>
        </div>
        <div *ngIf="event.endDate">
          <p class="text-label-medium no-margin">Pabaiga</p>
          <p class="text-body-large no-margin">{{formatDate(event.endDate)}}</p>
        </div>
        <p class="text-body-large no-margin" *ngIf="!event.isArchived">{{ getPhotoCountString(event.photoCount) }}</p>
        <app-event-badge class="event-list__status" [event]="event" />
      </div>
    </app-card-item>
  </app-card-grid>
  <div class="event-list__table-loader" *ngIf="eventsTableData.loading">
    <app-spinner />
  </div>
</div>
<app-side-view *ngIf="showEventCreateForm">
  <app-create-event (formEvent)="handleCreateEventFormEvent($event)" />
</app-side-view>
