@use 'sass:color';

$white: #fff;
$surface: #fefbfe;
$surface-tint-3: #eaeaf1;
$on-surface: #1b1b1d;
$on-surface-variant: #45464c;

$primary: #365ca8;
$on-primary: #fff;
$primary-container: #d9e2ff;
$primary-on-container: #001944;

$secondary: #575e71;
$on-secondary: #fff;

$tertiary: #725572;
$on-tertiary: #fff;
$tertiary-container: #fdd7fa;
$tertiary-on-container: #2a132c;

$error: #BA1A1A;
$on-error: #fff;
$error-container: #E57373;
$error-on-container: #1b1b1d;

$success: #388E3C;
$on-success: #fff;
$success-container: #81C784;
$success-on-container: #1b1b1d;

$outline: #76777c;

$primary-hover: linear-gradient(
    0deg,
    rgb(255 255 255 / 8%),
    rgb(255 255 255 / 8%)
  ),
  $primary;
$primary-disabled: #365ca81f;
$primary-focus: linear-gradient(
    0deg,
    rgb(255 255 255 / 12%),
    rgb(255 255 255 / 12%)
  ),
  $primary;
$on-surface-disabled: #1b1b1d61;

$elevation-1: 0 1px 2px rgb(0 0 0 / 30%), 0 1px 3px 1px rgb(0 0 0 / 15%);

