@use 'sass:color';

$blue: #4199d0;
$red: #f93943;
$white: #fff;

$background-elevated: #fff;
$background: #eeeeee;

$foreground: #222;
$foreground-light: #454545;

$accent: $blue;
$accent-dark: color.adjust($accent, $lightness: -10%);
$accent-hover: color.adjust($accent, $lightness: 4%);
$accent-outline: #79bce7;

$error: $red;

$outline: #bfbfbf;
$outline-hover: #999999;
