@use "functions";
@use "colors";

$font-family: 'Roboto', sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

@mixin body-small {
  font-size: functions.rem-size(12px);
  font-weight: $weight-regular;
  line-height: functions.rem-size(16px);
}

@mixin body-medium {
  font-size: functions.rem-size(14px);
  font-weight: $weight-regular;
  line-height: functions.rem-size(20px);
}

@mixin body-large {
  font-size: functions.rem-size(16px);
  font-weight: $weight-regular;
  line-height: functions.rem-size(24px);
}

@mixin label-medium {
  font-size: functions.rem-size(12px);
  font-weight: $weight-medium;
  line-height: 1.3;
}

@mixin label-large {
  font-size: functions.rem-size(14px);
  font-weight: $weight-medium;
  line-height: functions.rem-size(20px);
}

@mixin title-medium {
  font-size: functions.rem-size(16px);
  font-weight: $weight-medium;
  line-height: 1.5;
}

@mixin title-large {
  font-size: functions.rem-size(22px);
  font-weight: $weight-regular;
  line-height: 1.25;
}

@mixin headline-large {
  font-size: functions.rem-size(32px);
  font-weight: $weight-regular;
  line-height: 1.25;
}

.text-body-small {
  @include body-small;
}


.text-body-medium {
  @include body-medium;
}

.text-body-large {
  @include body-large;
}

.text-label-medium {
  @include label-medium;
}

.text-label-large {
  @include label-large;
}

.text-title-medium {
  @include title-medium;
}

.text-title-large {
  @include title-large;
}

.text-headline-large {
  @include headline-large;
}
