<div class="user-list">
  <app-page-header>
    <h2 class="text-headline-large no-margin">Naudotojai</h2>
    <app-button (click)="openInviteForm()">
      Pakviesti naudotoją
    </app-button>
  </app-page-header>
  <div>
    <app-input-field id="search" label="Paieška" [formControl]="searchControl" />
    <app-pagination-controls [tableData]="userTableData" />
  </div>
  <table
    class="user-list__table table"
    *ngIf="!userTableData.loading">
    <tr>
      <th class="user-list__table-full-width table__pad-row-start">Vardas</th>
      <th class="user-list__table-full-width">El. pašto adresas</th>
      <th class="table__no-wrap">Vaidmuo</th>
      <th class="table__no-wrap table__pad-row-end">Pakvietimas</th>
    </tr>
    <tr *ngFor="let user of userTableData.pageData">
      <td class="user-list__table-full-width table__pad-row-start">
        {{ user.name }}
      </td>
      <td class="user-list__table-full-width">
        {{ user.email }}
      </td>
      <td class="table__no-wrap">
        {{ getUserGroupName(user.groupAssignment) }}
      </td>
      <td class="table__no-wrap table__pad-row-end">
        {{ user.isActive ? 'Priimtas' : getInviteDate(user.invitedAt) }}
      </td>
    </tr>
  </table>
  <div class="user-list__table-loader" *ngIf="userTableData.loading">
    <app-spinner />
  </div>
</div>
<app-side-view *ngIf="showUserInviteForm">
  <app-invite-user-form (formEvent)="handleUserInviteFormEvent($event)" />
</app-side-view>
