@use "colors";

.user-list {
  &__table {
    width: 100%;
  }

  &__table-full-width {
    width: 50%;
  }

  &__table-loader {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}
