@use "colors";

.calendar {
  &__controls {
    display: grid;
    grid-template-columns: minmax(0, 150px) minmax(0, 300px);
    gap: 32px;
    width: 100%;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ccc;
      width: 14.28%;
      min-height: 80px;
      vertical-align: top;
      padding: 4px;
    }

    th {
      height: 40px;
      background: #f4f4f4;
      vertical-align: middle;
    }
  }

  &__table-day {
    text-align: center;
    margin: 0;
  }

  &__table-today {
    background-color: colors.$tertiary-container;
    font-weight: bold;
  }

  &__table-prev-next-month {
    color: colors.$on-surface-variant;
    opacity: 0.7;
  }

  &__table-events-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }

  &__table-event {
    background: colors.$primary-container;
    color: colors.$primary-on-container;
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      text-decoration: none;
      color: colors.$primary-on-container;
    }

    &--archived {
      background: colors.$secondary-container;
      color: colors.$secondary-on-container;

      a {
        color: colors.$secondary-on-container;
      }
    }
  }

  &__table-event-time {
    opacity: 0.74;
    text-align: right;
  }

  &__table-event p {
    margin: 0;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
}
