@use "colors";

.event {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  &__details-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__details-row {
    p {
      margin: 8px 0;
    }
  }

  &__photographers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__photographers-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__photographers {
    width: 100%;
  }

  &__add-gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$outline;
    border-radius: 8px;
    background: colors.$surface;
    cursor: pointer;
    padding: 32px 0;

    &:hover,
    &:focus-visible {
      transform: translateY(-4px);
    }

    &:focus-visible {
      border: 2px solid colors.$primary;
    }
  }

  &__add-gallery-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: colors.$primary;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: colors.$on-primary;
  }
}
