@use "colors";
@use "breakpoints";

.event {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__header-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: breakpoints.$mobile-large) {
    &__header-back {
      margin-left: 40px;
    }

    &__header .text-headline-large {
      font-size: 1.5rem;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin-bottom: 64px;

    @media (max-width: breakpoints.$screen-small) {
      grid-template-columns: 1fr;
    }
  }

  &__details-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__details-row {
    p {
      margin: 8px 0;
    }
  }

  &__photographers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__photographers-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__table-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__photographers {
    width: 100%;
  }

  &__galleries-header {
    margin-bottom: 24px;
  }

  &__add-gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$outline;
    border-radius: 8px;
    background: colors.$surface;
    cursor: pointer;
    padding: 32px 0;

    &:hover,
    &:focus-visible {
      transform: translateY(-4px);
    }

    &:focus-visible {
      border: 2px solid colors.$primary;
    }
  }

  &__add-gallery-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: colors.$primary;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: colors.$on-primary;
  }
}
