<div class="event" *ngIf="event">
  <div class="page-header">
    <div class="event__header">
      <app-button link="/event" [type]="ButtonType.Text">Grįžti į renginius</app-button>
      <h2 class="text-headline-large no-margin">{{event.name}}</h2>
      <app-event-badge [event]="event" />
    </div>
  </div>
  <div class="event__details">
    <div class="event__details-column">
      <div class="event__details-row">
        <p class="text-title-medium">Renginio pradžia</p>
        <p class="text-body-large">{{formatDate(event.startDate)}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.endDate">
        <p class="text-title-medium">Renginio pabaiga</p>
        <p class="text-body-large">{{formatDate(event.endDate)}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.location">
        <p class="text-title-medium">Renginio vieta</p>
        <p class="text-body-large">{{event.location}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.note">
        <p class="text-title-medium">Papildoma informacija</p>
        <p class="text-body-large">{{event.note}}</p>
      </div>
    </div>
    <div class="event__details-column">
      <div class="event__details-row">
        <div class="event__photographers-header">
          <p class="text-title-medium">Fotografai</p>
          <div class="event__photographers-actions">
            <app-button *ngIf="showAssignSelf && !isAssignedSelf" [type]="ButtonType.Filled" (click)="assignSelf()">
              Pridėti save
            </app-button>
            <app-button *ngIf="showAssignUsers" [type]="ButtonType.Filled">
              Pridėti fotografą
            </app-button>
          </div>
        </div>
        <table class="table event__photographers">
          <tr>
            <th>Vardas</th>
            <th>Nuotraukos</th>
            <th></th>
          </tr>
          <tr *ngFor="let photographer of eventPhotographers">
            <td>{{photographer.name}}</td>
            <td><a [routerLink]="'/event/' + event.id + '/gallery?user=' + photographer.id">{{photographer.photoCount}}</a></td>
            <td>
              <app-button
                (click)="removePhotographer(photographer.id)"
                *ngIf="showAssignUsers || photographer.id === userId"
                [type]="ButtonType.Text">
                Pašalinti
              </app-button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="event__photos">

  </div>
</div>
