.event {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  &__details-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__details-row {
    p {
      margin: 8px 0;
    }
  }

  &__photographers {
    width: 100%;
  }
}
