<div class="event" *ngIf="event">
  <app-page-header [disableStyles]="true">
    <div class="event__header">
      <app-button class="event__header-back" link="/event" [type]="ButtonType.Text">Grįžti į renginius</app-button>
      <h2 class="text-headline-large no-margin">{{event.name}}</h2>
      <div class="event__header-controls">
        <app-event-badge [event]="event" />
        <app-button
          *ngIf="showAssignUsers"
          [type]="ButtonType.Text"
          (click)="openEventEditForm()">
          Redaguoti
        </app-button>
      </div>
    </div>
  </app-page-header>
  <div class="event__details">
    <div class="event__details-column">
      <div class="event__details-row">
        <p class="text-title-medium">Renginio pradžia</p>
        <p class="text-body-large">{{formatDate(event.startDate)}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.endDate">
        <p class="text-title-medium">Renginio pabaiga</p>
        <p class="text-body-large">{{formatDate(event.endDate)}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.location">
        <p class="text-title-medium">Renginio vieta</p>
        <p class="text-body-large">{{event.location}}</p>
      </div>
      <div class="event__details-row" *ngIf="event.note">
        <p class="text-title-medium">Papildoma informacija</p>
        <p class="text-body-large">{{event.note}}</p>
      </div>
    </div>
    <div class="event__details-column">
      <div class="event__details-row">
        <div class="event__photographers-header">
          <p class="text-title-large">Fotografai</p>
          <div class="event__photographers-actions">
            <app-button *ngIf="showAssignSelf && !isAssignedSelf" [type]="ButtonType.Filled" (click)="assignSelf()">
              Pridėti save
            </app-button>
            <app-button *ngIf="showAssignUsers" [type]="ButtonType.Filled" (click)="openPhotographerForm()">
              Pridėti fotografą
            </app-button>
          </div>
        </div>
        <table class="table event__photographers">
          <tr>
            <th>Vardas</th>
            <th>Nuotraukos</th>
            <th></th>
          </tr>
          <tr *ngFor="let photographer of eventPhotographers">
            <td>{{photographer.name}}</td>
            <td><a [routerLink]="'/event/' + event.id + '/gallery?user=' + photographer.id">{{photographer.photoCount}}</a></td>
            <td>
              <app-button
                (click)="removePhotographer(photographer.id)"
                *ngIf="showAssignUsers || photographer.id === userId"
                [type]="ButtonType.Text">
                Pašalinti
              </app-button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <h3 class="event__galleries-header text-title-large no-margin">Renginio nuotraukų galerijos</h3>
    <app-card-grid>
      <app-card-item
        *ngFor="let gallery of galleries"
        [imageUrl]="getGalleryThumbnail(gallery)"
        [title]="gallery.name"
        [description]="getPhotoCountString(gallery.photoCount)"
        (click)="openGallery(gallery)"
      />
      <!-- eslint-disable-next-line -->
      <div class="event__add-gallery" (click)="openGalleryForm()">
        <div class="event__add-gallery-icon">
          <app-svg-icon [iconSrc]="SvgIconSrc.Add" [size]="SvgIconSize.Large" />
        </div>
        <p class="no-margin text-title-medium">Sukurti galeriją</p>
      </div>
    </app-card-grid>
  </div>
</div>
<app-side-view *ngIf="showAssignUsersForm && event">
  <app-assign-photographer-form [eventId]="event.id" (formEvent)="handlePhotographerFormEvent($event)" />
</app-side-view>
<app-side-view *ngIf="showGalleryCreateForm && event">
  <app-create-gallery-form [eventId]="event.id" (formEvent)="handleGalleryCreateFormEvent($event)" />
</app-side-view>
<app-side-view *ngIf="showEventEditForm && event">
  <app-create-event [eventToEdit]="event" (formEvent)="handleEventEditFormEvent($event)" />
</app-side-view>
