<div class="side-view-header">
  <h3 class="text-headline-large no-margin">Pridėti fotografą</h3>
  <app-button [type]="ButtonType.Text" (click)="cancel()">Uždaryti</app-button>
</div>
<div>
  <app-form-input-section
    inputId="name"
    label="Galerija"
    description="Fotografo nuotraukos bus priskirtos šiai galerijai">
    <app-select
      id="targetGallery"
      label="Galerija"
      [formControl]="galleryControl"
    >
      <option *ngFor="let opt of galleries" [value]="opt.id">
        {{ opt.name }}
      </option>
    </app-select>
  </app-form-input-section>

  <app-input-field id="photographer-search" label="Paieška" [formControl]="searchControl" />
  <app-pagination-controls [tableData]="userTableData" />
  <table class="table assign-photographer-table" *ngIf="!userTableData.loading">
    <tr>
      <th>Vardas</th>
      <th>El. paštas</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of userTableData.pageData">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><app-button [type]="ButtonType.Text" (click)="assignUser(user.id)">Pridėti</app-button></td>
    </tr>
  </table>
  <div class="assign-photographer-table-loader" *ngIf="userTableData.loading">
    <app-spinner />
  </div>
</div>
<app-loader-overlay *ngIf="isLoading" />
