@use "colors";

.popup-menu {
  position: absolute;
  z-index: 11;
  min-width: 160px;
  background-color: colors.$surface;
  border: 1px solid colors.$outline;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  &__list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
  }

  &__item {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: colors.$surface-tint-3;
    }
  }
}
