@use "colors";
@use "functions";
@use "breakpoints";

.snackbar {
  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    right: 48px;
    gap: 16px;
    min-width: 350px;

    @media (max-width: breakpoints.$mobile-large) {
      min-width: 0;
      width: calc(100vw - 32px);
      top: 32px;
      right: 16px;
    }
  }

  &__message {
    display: flex;
    background: colors.$primary-container;
    color: colors.$primary-on-container;
    fill: colors.$primary-on-container;
    gap: 16px;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid colors.$primary-on-container;
    position: relative;
    overflow: hidden;

    &--error {
      background: colors.$error-container;
      color: colors.$error-on-container;
      fill: colors.$error-on-container;
      border-color: colors.$error-on-container;
    }

    &--success {
      background: colors.$success-container;
      color: colors.$success-on-container;
      fill: colors.$success-on-container;
      border-color: colors.$success-on-container;
    }
  }

  &__title {
    flex: 1;
  }

  &__loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      background: colors.$primary-on-container;
      animation: loading 1.5s infinite ease-in-out;
      border-radius: 2px;
    }
  }
}

@keyframes loading {
  0% {
    left: -50%;
    width: 50%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 50%;
  }
}
