@use "colors";
@use "common/functions";

@mixin reset {
  outline: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin input-field {
  @include reset;

  background: colors.$white;
  border-radius: 0;
  border: 1px solid colors.$outline;
  line-height: functions.rem-size(21px);
  padding: functions.rem-size(12px) functions.rem-size(16px);

  &:hover {
    border-color: colors.$outline-hover;
  }
}
