<button
  class="icon-button"
  [ngClass]="{
    'icon-button--dark': theme === 'dark',
    'icon-button--light': theme === 'light',
    'icon-button--large': size === 'large',
  }"
  [disabled]="disabled"
>
  <app-svg-icon
    [iconSrc]="icon"
    [size]="svgSize"
  />
</button>
<span *ngIf="tooltip && !multilineTooltip" class="icon-button__tooltip">{{ tooltip }}</span>
<span *ngIf="tooltip && multilineTooltip" class="icon-button__tooltip">
  <ng-container *ngFor="let line of tooltip.split('\n')">
    {{ line }}<br />
  </ng-container>
</span>
