@use "sass:color";
@use "colors";
@use "functions";

:host {
  display: block;
  position: relative;
}

:host:hover .icon-button__tooltip {
  display: block;
}

.icon-button {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;

  &--dark {
    fill: colors.$on-surface;

    &:disabled {
      fill: colors.$outline;
    }

    &:hover,
    &:focus-visible {
      background: color.adjust(colors.$on-surface, $alpha: -0.9);
    }
  }

  &--light {
    fill: colors.$surface;

    &:hover,
    &:focus-visible {
      background: color.adjust(colors.$surface, $alpha: -0.7);
    }
  }

  &--large {
    width: 40px;
    height: 40px;
  }

  &__tooltip {
    display: none;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: functions.rem-size(14px);
    font-weight: 500;
    min-height: 32px;
    line-height: 32px;
    background: colors.$surface-tint-3;
    padding: 0 10px;
    border-radius: 4px;
    text-wrap: nowrap;
    text-align: center;
  }

  &:focus-visible ~ &__tooltip {
    display: block;
  }
}
