@use "sass:color";
@use "colors";
@use "typography";
@use "functions";

.sidenav {
  background: colors.$surface;
  height: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;

  &__list {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include typography.label-medium;

    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 4px;
    margin-bottom: 14px;
    align-items: center;
    color: colors.$on-surface-variant;
    text-decoration: none;

    &:hover,
    &:focus {
      color: colors.$on-surface;

      .sidenav__list-item-pill {
        background: color.change(colors.$primary, $alpha: 0.08);
      }
    }

    &:focus {
      outline: 2px solid colors.$primary;
    }

    &--selected,
    &--selected:hover {
      color: colors.$on-surface;

      .sidenav__list-item-pill {
        background: colors.$primary-container;
        fill: colors.$primary-on-container;
      }
    }
  }

  &__list-item-pill {
    padding: 4px 16px;
    border-radius: 16px;
    width: min-content;
    fill: colors.$on-surface-variant;

    app-svg-icon {
      display: block;
    }
  }

  &__logout {
    @include functions.reset;

    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
  }
}
