<div>
  <app-page-header>
    <h2 class="text-headline-large no-margin">Vandens ženklai</h2>
    <app-button
      [icon]="SvgIconSrc.Add"
      (click)="openCreateForm()">
      Sukurti
    </app-button>
  </app-page-header>
  <div class="watermarks">
    <app-watermark-search
      [refresh]="refreshEvent"
      [showLarge]="true"
      actionButtonLabel="Ištrinti"
      (actionWatermarkId)="handleAction($event)"
    />
    <app-loader-overlay *ngIf="isLoading" />
  </div>
</div>
<app-side-view *ngIf="showCreateForm">
  <app-watermark-create-form (formEvent)="handleCreateFormEvent($event)" />
</app-side-view>
