<div class="watermarks">
  <app-page-header>
    <h2 class="text-headline-large no-margin">Vandens ženklai</h2>
    <app-button
      [icon]="SvgIconSrc.Add"
      (click)="openCreateForm()">
      Sukurti vandens ženklą
    </app-button>
  </app-page-header>
  <app-watermark-search
    [refresh]="refreshEvent"
    actionButtonLabel="Ištrinti"
    (actionWatermarkId)="handleAction($event)"
  />
</div>
<app-side-view *ngIf="showCreateForm">
  <app-watermark-create-form (formEvent)="handleCreateFormEvent($event)" />
</app-side-view>
