@use "colors";
@use "breakpoints";

.page-header {
  position: relative;

  &--defaults {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    height: 40px;

    @media (max-width: breakpoints.$mobile-large) {
      padding-left: 40px;

      ::ng-deep .text-headline-large {
        font-size: 1.5rem;
      }
    }
  }

  &__menu-button {
    display: none;
    position: absolute;
    left: 0;
    fill: colors.$on-surface;

    @media (max-width: breakpoints.$mobile-large) {
      display: block;
    }
  }
}
