.watermarks-search {
  &__table {
    width: 100%;
    margin-top: 1rem;

    &--large td {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__table-loader {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  &__row {
    padding: 24px 0;
  }

  &__preview {
    width: 132px;

    img {
      padding: 4px;
      width: 68px;
      height: 68px;
      object-fit: contain;
    }
  }
}
