<div class="watermarks-search">
  <div>
    <app-input-field id="query" label="Paieška" [formControl]="searchControl" />
    <app-pagination-controls [tableData]="watermarkTableData" />
  </div>
  <table
    class="watermarks-search__table table"
    [ngClass]="{ 'watermarks-search__table--large': showLarge }"
    *ngIf="!watermarkTableData.loading">
    <tr *ngFor="let watermark of watermarkTableData.pageData">
      <td class="table__pad-row-start watermarks-search__preview">
        <img class="chess-background" [src]="getWatermarkUrl(watermark)" [alt]="watermark.name">
      </td>
      <td>
        {{ watermark.name }}
      </td>
      <td class="table__pad-row-end">
        <app-button
          [type]="buttonType.Text"
          (click)="triggerActionEvent(watermark.id)"
          [disableFormSubmit]="true"
        >
          {{ actionButtonLabel }}
        </app-button>
      </td>
    </tr>
  </table>
  <div class="watermarks-search__table-loader" *ngIf="watermarkTableData.loading">
    <app-spinner />
  </div>
</div>
