@use "colors";
@use "breakpoints";

$sidenav-width: 80px;

.main-layout {
  display: grid;
  grid-template-columns: $sidenav-width 1fr;
  height: 100%;

  @media (max-width: breakpoints.$mobile-large) {
    grid-template-columns: 1fr;
  }

  &__sidenav {
    border-right: 1px solid colors.$outline;

    @media (max-width: breakpoints.$mobile-large) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100vw;
      height: 100%;

      &--open {
        display: block;
      }
    }
  }

  &__content {
    overflow: scroll;
  }

  &__content-padding {
    padding: 32px 40px;

    @media (max-width: breakpoints.$mobile-large) {
      padding: 24px 16px;
    }
  }

  &__loader {
    z-index: 10;
    position: absolute;
    top: 0;
    left: $sidenav-width;
    background: colors.$surface;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - $sidenav-width);

    @media (max-width: breakpoints.$mobile-large) {
      left: 0;
      width: 100vw;
    }
  }

  &__close-button {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    fill: colors.$on-surface;
    z-index: 6;
  }

  @media (max-width: breakpoints.$mobile-large) {
    .hide-mobile-sidenav {
      display: none;

      &--open {
        display: block;
      }
    }
  }
}
