@use "colors";

$sidenav-width: 80px;

.main-layout {
  display: grid;
  grid-template-columns: $sidenav-width 1fr;
  height: 100vh;

  &__sidenav {
    grid-column: 1 / 2;
    border-right: 1px solid colors.$outline;
  }

  &__content {
    padding: 32px 40px;
    grid-column: 2 / 3;
    overflow: scroll;
  }

  &__loader {
    z-index: 10;
    position: absolute;
    top: 0;
    left: $sidenav-width;
    background: colors.$surface;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - $sidenav-width);
  }
}
