@use "colors";

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 64px 1fr;
  height: 100vh;

  &__sidenav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: 1px solid colors.$outline;
  }

  &__content {
    padding: 32px 40px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow: scroll;
  }
}
