<div class="main-layout">
  <app-icon-button
    class="main-layout__close-button hide-mobile-sidenav"
    [ngClass]="{ 'hide-mobile-sidenav--open': showSidenav }"
    [icon]="SvgIconSrc.Close"
    (click)="toggleSidenav()"
  />
  <app-sidenav class="main-layout__sidenav hide-mobile-sidenav" [ngClass]="{ 'hide-mobile-sidenav--open': showSidenav }" />
  <div class="main-layout__content">
    <div class="main-layout__content-padding">
      <ng-content />
    </div>
  </div>
  <div class="main-layout__loader" *ngIf="showLoader">
    <app-spinner />
  </div>
</div>
