@use 'sass:color';
@use "colors";
@use "typography";
@use "common-styles";

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  font-family: typography.$font-family;
  font-optical-sizing: auto;
  height: 100%;
}

body {
  background: colors.$surface;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: colors.$primary;

  &:hover {
    color: colors.$primary-hover
  }
}
